* {
    text-align:center;
}

.contactInfo h3 {
    margin-top: 50px;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightseagreen;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin:20px;
    justify-content: center;
  }

.button a {
    background-color: lightseagreen;
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: lightseagreen
}
  
  .button:active {
    background-color: lightseagreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }