* {
  background-color: #333;
  color:white;
}

.navlinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navlinks li {
  float: left;
}

.navlinks li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navlinks li a:hover {
  background-color: #111;
}
.navlinks li a:active {
  background-color: #04a2aa;
}
.imgCard img{
  display: flex;
  width: 150px;
  height: auto;
  border-radius: 100px;
  padding: 20px;
}

.infoCard {
  padding-left: 200px;
  padding-right: 20px;
}

.infoCard h2 {
  display: inline-block;
}
.infoCard li {
  font-weight: bolder;
}